.core-value{
  padding-top: 72px;
  padding-bottom: 125px;
}

.core-title{
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  color: #000000;
  text-align: center;
}

.value-wrapper{
  display: flex;
  justify-content: space-between;
  padding-top: 83px;
}