.header-wrapper{
  background-color: var(--main-bg-color);
  min-height: 650px;
}

.title-header{
  color: var(--primary-color);
}

/* home header */

.content-homeheader{
  padding-top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.left-homeheader{
  padding-top: 50px;
  padding-bottom: 30px;
}

.greeting{
  padding-left: 5px;
  font-size: 22px;
}

#profile{
  border: none;
}

.social-media{
  padding-top: 40px;
  width: 28%;
  display: flex;
}

#github{
  cursor: pointer;
}

#linkedin{
  cursor: pointer;
  margin-left: 5px;
}

#instagram{
  cursor: pointer;
  margin-left: 10px;
}
