:root{
  --main-bg-color: #F7FAF7;
  --primary-color: #150485;
  --secondary-color: #C62A88;
}

@font-face {
  font-family: "Inter";
  src: url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
}

.my-font{
  font-family: 'Inter';
  margin-bottom: 0px;
}

.flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.reg-btn{
  font-weight: bold;
  font-size: 22px;
  cursor: pointer;
}

.font-homeheader{
  font-weight: bold;
  font-size: 55px;
  color: #000000;
  margin-bottom: 0px;
  line-height: 63px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
